<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
	<router id="standard">
		<route id="cashback" frontName="cashback">
			<module name="Paranerd_Cashback" />
		</route>
	</router>
</config>
