<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_save_after">
		<observer name="paranerd_cashback_order_save" instance="Paranerd\Cashback\Observer\OrderSave" />
	</event>
	<event name="order_delete_after">
		<observer name="paranerd_cashback_order_delete" instance="Paranerd\Cashback\Observer\OrderRemove" />
	</event>
	<event name="order_cancel_after">
		<observer name="paranerd_cashback_order_cancel" instance="Paranerd\Cashback\Observer\OrderRemove" />
	</event>
	<event name="checkout_onepage_controller_success_action">
		<observer name="paranerd_cashback_order_place" instance="Paranerd\Cashback\Observer\OrderPlace" />
	</event>
</config>